/* خلفية متحركة */
.body1 {
  background-image: url("stars.jpg");
  background-repeat: repeat;
  background-size: 10%; /* أصغر = نجوم أبعد */
  background-position: 0 0;
  animation: BGscrolling 60s linear infinite;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


/* حركة الخلفية */
@keyframes BGscrolling {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0;
  }
}


/* عنوان الموقع */
.title {

  color: #00adb5;
  text-decoration: underline solid #00adb5 5px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: clamp(24px, 6.5vw, 45px);
  white-space: nowrap;
  font-family: sans-serif;


}

/* وصف الموقع */
.p {
  font-size: clamp(24px, 3.5vw, 10px);
  color: #ccc;
  text-align: center;
  max-width: 2500px;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;

}

/* حركة نبض */
@keyframes nabth {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/* زر أنيق مع تأثير نبض */
.coolbutton {
  background: #00adb5;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 0.2rem 0.2rem;
  font-size: clamp(24px, 3.5vw, 35px);
  cursor: pointer;
  box-shadow: 0 4px 30px #00adb5;
  animation: nabth 2s infinite;
  animation-play-state: running;
  transition: all 0.3s ease;
  text-decoration: none;
  position: relative;
  top: clamp(24px, 1.5vw, 50px);
  display: inline-flex;
  gap: clamp(24px, 3.5vw, 150px);
  align-items: center;
}

/* عند المرور فوق الزر */
.coolbutton:hover {
  background-color: #007b80;
  box-shadow: 0 4px 80px #00adb599;
  transform: scale(1.1);
  animation-play-state: paused;
}
.header{

  list-style: none;
  gap: 100px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  

}
header{

  display: flex;
  max-width: 100px;
  margin: 2rem auto;
  



}
.li1 {

  
  text-decoration: none;
  white-space: nowrap;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  animation: nabth 2s infinite;
  animation-play-state: running;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-left: clamp(10px, 3.5vw, 10px);
  margin-right: clamp(10px, 15vw, 100px);
  margin-top: clamp(10px, 3.5vw, 10px);
  margin-bottom: clamp(10px, 3.5vw, 10px);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;


}

.li1.toggle-li {
  background: none !important;
  box-shadow: none !important;
  animation: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  font-size: clamp(14px, 1vw, 40px); /* حجم أصغر من li العادي */
  margin-left: 3rem; /* مسافة أكبر من بقية العناصر */
  padding: 0.5rem 1rem; /* حشوة أصغر */
}

.langSwitcher {
  background-color: #00adb5;
  cursor: pointer;
  position: relative;
  right: clamp(20px, 470px, 500px);
  padding: 10px;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .langSwitcher {
    right: 10px; /* اقرب لليمين */
    padding: 8px;
    font-size: 14px;
  }
}

/* شاشات متوسطة - من 601 إلى 1024 بكسل */
@media (min-width: 601px) and (max-width: 1024px) {
  .langSwitcher {
    right: 100px;
    padding: 9px;
    font-size: 16px;
  }
}

/* شاشات كبيرة - فوق 1024 بكسل */
@media (min-width: 1025px) {
  .langSwitcher {
    right: clamp(20px, 470px, 500px);
    padding: 10px;
    font-size: 18px;
  }
}



.li1 a {

  text-decoration: none;
  font-size: 25px;
  margin: -10px;
  padding: clamp(2px, 5vw, 9px);
  border-radius: 50px;
  background: #00adb5;
  box-shadow: 0 4px 30px #00adb5;
  margin-right: clamp(-100px, -10vw, 100px);


  

}
.p-container{

  margin-top: 250px;

}
.p1 {

  font-size: clamp(24px, 3.5vw, 10px);
  color: #ccc;
  max-width: 2500px;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;

}
.p11 {

  font-size: clamp(24px, 3.5vw, 10px);
  color: #ccc;
  max-width: 2500px;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  margin-left: 300px;

}
.img-smaller{

  width: 250px;
  height: 250px;
  display: inline;
  border-radius: 35px;
  position: absolute;
  left: 0;
  margin-top: -100px;
}

.img-smaller2{

  width: 250px;
  height: 250px;
  position: absolute;
  right: 0;
  display: inline-block;
  border-radius: 35px;
}
hr{

color: #00adb5;

}
.li1 a:active{

  color: #003366;

}
.li3{

margin-right: 200px;

}
.img{

  width: clamp(10px, 3.5vw, 1000px);
  border-radius: 100px;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 10px;
  margin-left: 0px;
  box-shadow: 0 4px 20px 10px red;
  transition: all 0.3s ease;
  text-decoration: none;

}
.problems{

  width: 750px;
  height: 400px;
  border-radius: 40px;

}
.li1 a:hover{

  background-color: #007b80;
  box-shadow: 0 0px 80px #00adb599;
  transform: scale(1);
  animation-play-state: paused;


}
.coolbutton img {
  position: static ;
  height: auto;
  display: inline-block !important;
  border-radius: 0;
  box-shadow: none;
  margin-left: 0;
}

/* وضع النهار */
body.morning-mode {
    background-image: url("blue-sky.jpg");
    background-repeat: repeat;
    color: #003366; /* نص داكن */
}

body.morning-mode .title,
body.morning-mode .p,
body.morning-mode a {
  color: #003366;
  
}
body.morning-mode .title{

text-decoration: underline solid #003366 5px;

}
body.morning-mode .coolbutton:hover,
body.morning-mode li:hover {
    background-color: #5aa2c6;
}
body {
    display: flex;

    height: 100vh;
    background: #000;
}

.theme-switch {
    --toggle-size: 20px;
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
}

.theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
}

.theme-switch__checkbox {
    display: none;
}

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
}

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: 0.1em;
    height: 0.1em;
    top: 0.312em;
    left: 0.812em;
}

.theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 0.1rem;
    height: 0.1rem;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked+.theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} 


/* حط التوقل فوق يمين الشاشة */
.theme-switch {
  position: absolute;
  top: 0;       /* رفع التوقل فوق الهيدر */
  right: 0.1rem;       /* مسافة من اليمين */
}


